{
	"env": {
		"commonjs": true,
		"browser": true,
		"es2021": true,
		"node": true,
		"mocha": true
	},
	"extends": ["standard", "prettier"],
	"ignorePatterns": ["package*.json", "_builds"],
	"rules": {
		"dot-notation": "off",
		"new-cap": "off",
		"no-useless-return": "off",
		"array-callback-return": "off"
	},
	"overrides": [
		{
			"files": ["*.spec.js"],
			"rules": { "no-unused-expressions": "off" }
		}
	]
}
